/* 
* @Author: login
* @Date:   2014-10-05 12:59:05
* @Last Modified by:   login
* @Last Modified time: 2014-10-18 12:20:54
*/

body {
    background-color: #00a8ec;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}
header > h1 {
    color: white;
    font-weight: bold;
    height: 81px;
    margin: 75px auto 0;
    white-space: nowrap;
    width: auto;
}
header > h2 {
    color: #373535;
    display: block;
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    text-align: center;
}
header > input {
    background-color: #ffffff;
    border: 0 none;
    color: #373535;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 28px;
    margin-top: 30px;
    outline: 1px dashed #ffffff;
    position: relative;
    text-align: center;
    width: 100%;
}
input:focus {
    transition: outline 0.5s 0.5s ease;
    outline: 5px dashed #FFFFFF;
}
.results_body {
    background-color: #fff;
    border-radius: 5px;
    margin: 50px auto 0;
    width: 80%;
}
.res-title {
    font-size: 18px;
    height: 45px !important;
    line-height: 45px;
}
.res-title-head {
    float: left;
    width: auto;
}
.res-title-query {
    float: left;
    font-weight: bold;
    padding-left: 10px;
    width: auto;
}
.res-item {
    height: 35px;
    vertical-align: middle;
    cursor: default;
}
.res-item:not(:last-child) {
    border-bottom: 1px solid #00a8ec;
}
.res-item .col-md-4 {
    height: 100%;
    line-height: 35px;
    border-right: 2px dashed #00A8EC;
}
.res-item .col-md-8 {
    height: 100%;
    line-height: 35px;
    text-align: center;
    cursor: default;
}
.res-item .col-md-4 > span {
    font-size: 18px;
}
.res-item .col-md-8 i {
    font-size: 25px;
    line-height: 35px;
}
.res-item .col-md-8 i.fa-smile-o {
    color: #00A8EC;
}
.res-item .col-md-8 i.fa-meh-o {
    color: #20242a;
}
/* Visit link ^ */
.res-item .col-md-8 a {
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    height: 100%;
    position: absolute;
    top: -10px;
    width: 15px;
    outline: none;

    -moz-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
    -webkit-transition: all 500ms ease 0s;
    -ms-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;

}
.res-item .col-md-8 a:hover, .res-item .col-md-8 a:active {
  font-size: 18px;
  text-decoration: none;
}
footer {
    bottom: 0;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    color: white;
}
footer a, footer a:hover, footer a:active {
    color: white;
    text-decoration: none;
}
#legend {
    background-color: #ffffff;
    border-right: 2px dashed #00a8ec;
    bottom: 0;
    height: 100%;
    left: 0;
    min-height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 250px;

    -moz-transition: left 1s ease 0s;
    -o-transition: left 1s ease 0s;
    -webkit-transition: left 1s ease 0s;
    -ms-transition: left 1s ease 0s;
    transition: left 1s ease 0s;
}
#legend:hover, #legend:focus {
    left: 0 !important;
}
#legend:hover .navigation-button, #legend:focus .navigation-button {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
#legend ul.legend {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
#legend ul.legend li {
    font-size: 18px;
    height: 35px;
    line-height: 35px;
    padding-left: 15px;
    text-align: left;
    width: 100%;

    -moz-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
    -webkit-transition: all 500ms ease 0s;
    -ms-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
}
#legend ul.legend li:not(:last-child){
    border-bottom: 1px solid silver;
}
.legend li i.fa {
    font-size: 24px;
    font-weight: bold;
    line-height: 35px;
}
#legend ul.legend li:active, #legend ul.legend li:hover {
    background-color: #00a8ec;
    color: #FFFFFF;
    cursor: default;
    padding-left: 35px;

}
.legend-title {
    float: left;
    font-size: 18px;
    height: 50px;
    margin-top: 25px;
    min-width: 100%;
    padding-left: 15px;
    text-align: left;
    font-weight: bold;
}
/* MENU ICON ON LEFT NAVIGATION BAR */

.navigation-button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-bottom-right-radius: 5px;
    border-color: #00a8ec #00a8ec #00a8ec -moz-use-text-color;
    border-image: none;
    border-style: solid solid solid none;
    border-top-right-radius: 5px;
    border-width: 1px 1px 1px 0;
    bottom: 49%;
    display: block;
    height: 95px;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: .5;

    position: absolute;
    right: -43px;

    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s;
    -ms-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}
.navigation-button > li {
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.navigation-button li a {
    border: 0 none;
    color: #00a8ec;
    cursor: default;
    font-size: 14px;
    font-weight: bold;
    height: 100%;
    left: -35px;
    position: absolute;
    text-decoration: none;
    top: -9px;

    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);

    width: 100% !important;
}
.navigation-button:hover, .navigation-button:focus {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
