/* 
* @Author: login
* @Date:   2014-10-05 12:59:05
* @Last Modified by:   login
* @Last Modified time: 2014-10-20 10:57:29
*/

/*
 *   Small CSS reset style
 */
* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
    min-height: 100%;
    overflow: hidden;
    padding: 0;
}
body {
    background-color: #00a8ec;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: #262626;
}
/*
 *   Our left "Legend" "Results" "Bottom" and "git fork" a links
 */
.navigation-button li a, .res-item .col-md-8 a, footer a, .github-fork a {
    color: #428bca;
    text-decoration: none;
    /* Fallback for web browsers that doesn't support RGBa */
    
    background: rgb(255, 255, 255) transparent;
    /* RGBa with 0.6 opacity */
    
    background: rgba(255, 255, 255, 0);
    /* For IE 5.5 - 7*/
    
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#FFFFFF);
    /* For IE 8*/
    
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#FFFFFF)";
}
.github-fork img {
    position: absolute; 
    top: 0; 
    right: 0; 
    border: 0; 
    width: 149px; 
    height: 149px;
}
/*
 *   Display for our blocks
 */
footer, header, section {
    display: block;
}
/*
 *   HEADER styles
 */
header > h1 {
    color: white;
    font-weight: bold;
    height: 81px;
    margin: 75px auto 0;
    white-space: nowrap;
    width: auto;
    font-size: 36px;
    line-height: 1.1;
}
header > h2 {
    color: #373535;
    display: block;
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    text-align: center;
    line-height: 1.1;

    margin: 0 auto;
}
header > input {
    background-color: #ffffff;
    border: 0 none;
    color: #373535;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 28px;
    margin-top: 30px;
    outline: 1px dashed #ffffff;
    position: relative;
    text-align: center;
    width: 100%;
    line-height: inherit;

    -webkit-transition: outline 0.5s 0.5s ease;
    -moz-transition: outline 0.5s 0.5s ease;
    -o-transition: outline 0.5s 0.5s ease;
    transition: outline 0.5s 0.5s ease;
}

/*
 *  Responsive design
 */
@media only screen and (min-device-width : 768px) {
    header > h1 {
        font-size: 36px;
    }
    header > input {
        font-size: 28px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
    header > h1 {
        font-size: 26px;
        text-overflow: ellipsis;
        white-space: pre-wrap;
        width: 85%;
    }
    header > h2 {
        font-size: 18px;
        text-overflow: ellipsis;
        white-space: pre-wrap;
        width: 85%;
    }
    header > input {
        font-size: 24px;
    }
    .github-fork img {
        width: 100px;
        height: 100px;
    }
    .container {
        max-width: 100%;
        width: 100%;
    }
    .col-md-4 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre-wrap;
    }
    .navigation-button {
        bottom: 0 !important;
    }
    .res-item .col-md-4 > span {
        font-size: 15px;
    }

}

@media only screen and (min-width: 0px) and (max-width: 480px) {

    header > h1 {
        font-size: 18px;
        text-overflow: ellipsis;
        white-space: pre-wrap;
        width: 85%;
    }
    header > h2 {
        font-size: 16px;
        text-overflow: ellipsis;
        white-space: pre-wrap;
        width: 85%;
    }
    header > input {
        font-size: 16px;
    }
    .github-fork img {
        width: 100px;
        height: 100px;
    }
    .container {
        max-width: 100%;
        width: 100%;
    }
    .col-md-4 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre-wrap;
    }
    .navigation-button {
        bottom: 0 !important;
    }
    .res-item .col-md-4 > span {
        font-size: 12px;
    }
}

header > input:focus {
    outline: 5px dashed #FFFFFF;
}

section.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    clear: both;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.col-sm-12 {
    width: 100%;
}
.col-sm-12 {
    float: left;

    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
.col-md-4 {
    width: 33.3333%;
}
.col-md-8 {
    width: 66.6667%;
}
.col-md-4, .col-md-8 {
    float: left;
}
.container .results_body {
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 50px auto 0;
    width: 80%;
    display: table;
    clear: both;
}
.results_body .res-title {
    font-size: 18px;
    height: 45px !important;
    line-height: 45px;
}
.results_body .res-item {
    height: 35px;
    vertical-align: middle;
    cursor: default;
}
.col-md-4 > img {
    float: left;
    height: 16px;
    margin-top: 9px;
    width: 16px;
}
/*
 *   Results head title
 */
.res-item .res-title-head {
    float: left;
    width: auto;
}
.res-item .res-title-query {
    float: left;
    font-weight: bold;
    padding-left: 10px;
    width: auto;
}
/*
 *   Results items
 */
.res-item:not(:last-child) {
    border-bottom: 1px solid #00a8ec;
}
.res-item .col-md-4 {
    height: 100%;
    line-height: 35px;
    border-right: 2px dashed #00A8EC;
}
.res-item .col-md-8 {
    height: 100%;
    line-height: 35px;
    text-align: center;
    cursor: default;
}
.res-item .col-md-4 > span {
    font-size: 18px;
}
.res-item .col-md-8 i {
    font-size: 25px;
    line-height: 35px;
}
.res-item .col-md-8 i.fa-smile-o {
    color: #00A8EC;
}
.res-item .col-md-8 i.fa-meh-o {
    color: #20242a;
}
/*
 *   Results items Visit link ^
 */
.res-item .col-md-8 a {
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    height: 100%;
    position: absolute;
    top: -10px;
    width: 15px;
    outline: none;

    -webkit-transition: all 500ms ease 0s;
    -moz-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
}
.res-item .col-md-8 a:hover, .res-item .col-md-8 a:active {
    font-size: 18px;
    text-decoration: none;
}
/*
 *   Footer styles
 */
footer {
    bottom: 0;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    height: 35px;
}
footer a, footer a:hover, footer a:active {
    color: white;
    text-decoration: none;
}
footer .container {
    line-height: 35px;
    font-size: 1.2em;
}

/*
 *   Left animated menu
 */
#legend {
    background-color: #ffffff;
    border-right: 2px dashed #00a8ec;
    bottom: 0;
    height: 100%;
    left: 0;
    min-height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 250px;

    -webkit-transition: left 1s ease 0s;
    -moz-transition: left 1s ease 0s;
    -o-transition: left 1s ease 0s;
    transition: left 1s ease 0s;
}
#legend:hover, #legend:focus {
    left: 0 !important;
}
#legend:hover .navigation-button, #legend:focus .navigation-button {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
#legend ul.legend {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
#legend ul.legend li {
    font-size: 18px;
    height: 35px;
    line-height: 35px;
    padding-left: 15px;
    text-align: left;
    width: 100%;

    -webkit-transition: all 500ms ease 0s;
    -moz-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
}
#legend ul.legend li:not(:last-child) {
    border-bottom: 1px solid silver;
}
.legend li i.fa {
    font-size: 24px;
    font-weight: bold;
    line-height: 35px;
}
#legend ul.legend li:active, #legend ul.legend li:hover {
    background-color: #00a8ec;
    color: #FFFFFF;
    cursor: default;
    padding-left: 35px;
}
.legend-title {
    float: left;
    font-size: 18px;
    height: 50px;
    margin-top: 25px;
    min-width: 100%;
    padding-left: 15px;
    text-align: left;
    font-weight: bold;
}
/* MENU ICON ON LEFT NAVIGATION BAR */
.navigation-button {
    border-bottom-colors: none;
    -moz-border-bottom-colors: none;
    border-left-colors: none;
    -moz-border-left-colors: none;
    border-right-colors: none;
    -moz-border-right-colors: none;
    border-top-colors: none;
    -moz-border-top-colors: none;    
    
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-color: #00a8ec;
    border-image: none;
    border-style: solid solid solid none;
    
    border-width: 1px 1px 1px 0;

    background-color: #ffffff;

    bottom: 48%; /** older browsers **/
    bottom: -webkit-calc(50% - 48px); /** Safari 6, Chrome 19-25 **/
    bottom: -moz-calc(50% - 48px); /** FF 4-15  **/
    bottom: calc(50% - 48px); /** FF 16+, IE 9+, Opera 15, Chrome 26+, Safari 7 and future other browsers **/


    display: block;
    height: 95px;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: .5;

    position: absolute;
    right: -43px;

    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}
.navigation-button > li {
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.navigation-button li a {
    border: 0 none;
    color: #00a8ec;
    cursor: default;
    font-size: 14px;
    font-weight: bold;
    height: 100%;
    left: -35px;
    position: absolute;
    text-decoration: none;
    top: -9px;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    
    width: 100% !important;
}
.navigation-button:hover, .navigation-button:focus {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
